<html>
	<head>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<meta charset="utf-8">
   		<title>Semantle Solver</title>
	</head>

	<body >	
        <h1>SemantleSolver</h1>
        <div id="container">
            <form action="submitGuess" method="POST">
                <input id="guess" type="text" placeholder="Guess" minlength="1" name="guess"/>
                <br>
                <input id="score" type="text" placeholder="Score" minlength="1" name="score"/>
                <br>
                <button name="submit" id="sub" type="Submit" title="SEARCH">SUBMIT</button>
            </form>
        </div>

        <div id="container">
            <form action="reset">
                <button name="reset" id="sub" type="Submit" title="RESET">RESET</button>
            </form>
        </div>

        <div id="container">
            {% if haveGuesses %}
                <h2>Guesses:</h2>            
                {% for guess in guesses %}
                <p> {{guess}} </p>
                {% endfor %}
            {% endif %}
        </div>

	</body>
</html>
